.texto{
    color: red;
    font-size: 50px;
    border: 1px solid red;
    margin: auto;
}

.uls {
    background-color: azure;
    margin: 1px solid red;
}
.lis{
    padding: 10px;
    color: yellow;
}